*.class
*.md
*.lst
PhotopraphyStore/target/
/target/*
*mf
.project
.DS_Store
.classpath
PhotopraphyStore/.settings/
target
**/node_modules/
package-lock.json
Web/macrofotoAngular/server/package-lock.json
Web/macrofotoAngular/app/package-lock.json
Web/macrofotoAngular/server/node_modules
Web/macrofotoAngular/app/node_modules
