<article class="fluid-container ">
    <div class="row col-md-12 title">
        <div class=" col-md-6">
            <h2>Consulta Pedido</h2>
        </div>
        <div class=" col-md-6" style="text-align: right;">
            <button mat-icon-button aria-label="Export XLS" class="" color="basic">
                <mat-icon>insert_drive_file</mat-icon>
            </button>
        </div>
    </div>


    <div class="row col-md-12">
        <div class=" col-md-12">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <p>B&uacute;squeda</p>
                    </mat-panel-title>
                    <mat-panel-description>
                        Filtro para b&uacute;squeda de pedidos
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row col-md-12">
                    <div class=" col-md-4">
                        <mat-form-field class="full-width">
                            <mat-label>Folio</mat-label>
                            <input matInput placeholder="Introduce folio"  name="folio" [(ngModel)]="filter.folio"/>
                        </mat-form-field>
                    </div>
                    <div class=" col-md-4">
                        <mat-form-field class="full-width">
                            <mat-label>Cliente</mat-label>
                            <input matInput placeholder="Nombre del Cliente" name="cliente" [(ngModel)]="filter.cliente" />
                        </mat-form-field>
                    </div>
                    <div class=" col-md-4">
                        <mat-form-field class="full-width">
                            <mat-label>Estatus</mat-label>
                            <mat-select  placeholder="Estatus del pedido" name="estatus" [(ngModel)]="filter.estatus">
                                <mat-option ></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row col-md-12">

                    <div class=" col-md-4 col-xs-6">
                        <mat-form-field class="full-width">
                            
                            <mat-label>Fecha Pedido Inicial</mat-label>
                            <input matInput [matDatepicker]="dateIni" 
                                name="fecIni" [(ngModel)]="filter.fecIni" disabled />
                            <mat-datepicker-toggle matSuffix [for]="dateIni" ></mat-datepicker-toggle>
                            <mat-datepicker #dateIni disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class=" col-md-4 col-xs-6">
                        <mat-form-field class="full-width"> 
                            <mat-label>Fecha Pedido Final</mat-label>
                            <input matInput [matDatepicker]="dateFin" 
                                name="fecFin" [(ngModel)]="filter.fecFin" disabled/>
                            <mat-datepicker-toggle matSuffix [for]="dateFin" ></mat-datepicker-toggle>
                            <mat-datepicker #dateFin disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class=" col-md-4">
                        
                    </div>
                </div>
                <div class=" col-md-12" style="text-align:center">
                    <!--Botones de limpiar y buscar-->
                    <button mat-raised-button color="primary" (click)="filterOrder()">
                        Buscar</button>
                    &nbsp;
                    <button mat-raised-button>
                        Limpiar</button>
                </div>
            </mat-expansion-panel>
        </div>
        <div class=" col-md-12">
            <mat-card>
                <div class="row col-md-12">
                    <p>Pedidos</p>
                    <div class=" col-md-12 overflowDiv">

                        <table mat-table class=" " [dataSource]="listPedidos">
                            <ng-container matColumnDef="folio">
                                <th mat-header-cell *matHeaderCellDef> Folio </th>
                                <td mat-cell *matCellDef="let element"> {{element.folio}} </td>
                            </ng-container>
                            <ng-container matColumnDef="cliente">
                                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                                <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
                            </ng-container>
                            <ng-container matColumnDef="contacto">
                                <th mat-header-cell *matHeaderCellDef> Contacto </th>
                                <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                            </ng-container>
                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
                                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                            </ng-container>
                            <ng-container matColumnDef="estatus">
                                <th mat-header-cell *matHeaderCellDef> Estatus </th>
                                <td mat-cell *matCellDef="let element"> {{element.catEstatus.estatus}} </td>
                            </ng-container>
                            <ng-container matColumnDef="fec_pedido">
                                <th mat-header-cell *matHeaderCellDef> Fec. del pedido </th>
                                <td mat-cell *matCellDef="let element"> {{element.fec_pedido | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="fec_entregado">
                                <th mat-header-cell *matHeaderCellDef> Fec. entregado </th>
                                <td mat-cell *matCellDef="let element"> {{element.fec_entregado | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="monto_ant">
                                <th mat-header-cell *matHeaderCellDef> Monto de anticipo </th>
                                <td mat-cell *matCellDef="let element"> {{element.monto_ant}} </td>
                            </ng-container>
                            <ng-container matColumnDef="monto_total">
                                <th mat-header-cell *matHeaderCellDef> Costo total </th>
                                <td mat-cell *matCellDef="let element"> {{element.monto_total}} </td>
                            </ng-container>
                            <ng-container matColumnDef="monto_pendiente">
                                <th mat-header-cell *matHeaderCellDef> Monto pendiente </th>
                                <td mat-cell *matCellDef="let element"> {{element.monto_pendiente}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="pedidoColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: pedidoColumns;"></tr>
                            <!--
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th></th>
                                <th> </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listPedidos | paginate: objPagination ">
                                <td>{{item.folio}}</td>
                                <td>{{item.cliente}}</td>
                                <td>{{item.telefono}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>{{item.id_estatus}}</td>
                                <td>{{item.fec_pedido}}</td>
                                <td>{{item.fec_entregado}}</td>
                                <td>{{item.monto_ant}}</td>
                                <td>{{item.monto_total}}</td>
                                <td>{{item.monto_pendiente}</td>

                            </tr>
                        </tbody>
                        -->
                        </table>
                        <mat-paginator [length]="jsonPaginationPedido.totalItems" 
                            [pageSize]="jsonPaginationPedido.pageSize"
                            [pageSizeOptions]="jsonPaginationPedido.pageSizeOptions">
                        </mat-paginator>
                        <!--<pagination-controls (pageChange)="pageChange($event)"></pagination-controls>-->
                    </div>
                </div>
            </mat-card>
        </div>
        <div class=" col-md-12">
            <mat-card>
                <div class="row col-md-12">
                    <p>Productos</p>
                    <div class=" col-md-12 overflowDiv">
                        <table mat-table class=" " [dataSource]="listPedidos">
                            <ng-container matColumnDef="folio">
                                <th mat-header-cell *matHeaderCellDef> Folio </th>
                                <td mat-cell *matCellDef="let element"> {{element.folio}} </td>
                            </ng-container>
                            <ng-container matColumnDef="cliente">
                                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                                <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
                            </ng-container>
                            <ng-container matColumnDef="contacto">
                                <th mat-header-cell *matHeaderCellDef> Contacto </th>
                                <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                            </ng-container>
                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
                                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                            </ng-container>
                            <ng-container matColumnDef="estatus">
                                <th mat-header-cell *matHeaderCellDef> Estatus </th>
                                <td mat-cell *matCellDef="let element"> {{element.id_estatus}} </td>
                            </ng-container>
                            <ng-container matColumnDef="fec_pedido">
                                <th mat-header-cell *matHeaderCellDef> Fec. del pedido </th>
                                <td mat-cell *matCellDef="let element"> {{element.fec_pedido | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="fec_entregado">
                                <th mat-header-cell *matHeaderCellDef> Fec. entregado </th>
                                <td mat-cell *matCellDef="let element"> {{element.fec_entregado | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="monto_ant">
                                <th mat-header-cell *matHeaderCellDef> Monto de anticipo </th>
                                <td mat-cell *matCellDef="let element"> {{element.monto_ant}} </td>
                            </ng-container>
                            <ng-container matColumnDef="monto_total">
                                <th mat-header-cell *matHeaderCellDef> Costo total </th>
                                <td mat-cell *matCellDef="let element"> {{element.monto_total}} </td>
                            </ng-container>
                            <ng-container matColumnDef="monto_pendiente">
                                <th mat-header-cell *matHeaderCellDef> Monto pendiente </th>
                                <td mat-cell *matCellDef="let element"> {{element.monto_pendiente}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="pedidoColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: pedidoColumns;"></tr>
                           
                        </table>
                        <mat-paginator [length]="jsonPaginationProd.totalItems" 
                            [pageSize]="jsonPaginationProd.pageSize"
                            [pageSizeOptions]="jsonPaginationProd.pageSizeOptions">
                        </mat-paginator>
                        <!-- 
                        <table class="table ">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Folio</th>
                                    <th>Cliente</th>
                                    <th>Contacto </th>
                                    <th>Descripci&oacute;n</th>
                                    <th>Estatus</th>
                                    <th>Fec. del pedido</th>
                                    <th>Fec. entregado</th>
                                    <th>Monto de anticipo</th>
                                    <th>Costo total</th>
                                </tr>
                            </thead>
                           <tbody>
                                <tr *ngFor="let item of listPedidos | paginate: jsonPagination ">
                                    <td>{{item.folio}}</td>
                                    <td>{{item.cliente}}</td>
                                    <td>{{item.telefono}}</td>
                                    <td>{{item.descripcion}}</td>
                                    <td>{{item.id_estatus}}</td>
                                    <td>{{item.fec_pedido}}</td>
                                    <td>{{item.fec_entregado}}</td>
                                    <td>{{item.monto_ant}}</td>
                                    <td>{{item.monto_total}}</td>

                                </tr>
                            </tbody>
                           
                        </table> -->
                        <!--<pagination-controls (pageChange)="pageChange($event)"></pagination-controls>-->
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <pre>jsonPagination = {{jsonPaginationPedido | json}}</pre>
</article>