<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #sidenav mode="side" > <!-- [(opened)]="opened" -->
      <div class="row">
        <div class="col-md-12" style="text-align:center">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        </div>
        <div class="media-body col-md-12" style="text-align:center;padding: 12px;">
            <h4 class="m-0 font-weight-bold">Amairani Garcia S.</h4>
            <p class="font-weight-light text-muted mb-0">Web developer</p>
        </div>
      </div>
      <div class="">
        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Principal</p>
  
        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a [routerLink]="['/home']" class="nav-link  ">
                    <i class="fa fa-th-large mr-3 fa-fw"></i> Inicio
                </a>
            </li>
  
        </ul>
  
        <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Reporte</p>
  
        <ul class="nav flex-column bg-white mb-0">
          <li class="nav-item">
              <a class="nav-link " [routerLink]="['/reporte-pedidos']">
                  <i class="fa fa-area-chart mr-3 text-primary fa-fw "></i>Consulta Pedidos
              </a>
          </li>
          <li class="nav-item ">
              <a href="javascript:void(0) " class="nav-link " (click)="logout()">
                <i class="fa fa-line-chart mr-3 text-primary fa-fw "></i> Cerrar sesión
              </a>
          </li>
        </ul>
      </div>  
    </mat-sidenav>
    <mat-sidenav-content #content>
      <button mat-icon-button color="accent" aria-label="Menú" (click)="sidenav.toggle()">
        <mat-icon >menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  