

.label-title {
    -fx-font-family: 'Montserrat Medium';/* */
  	

}

*{
	-fx-font-size:14px
}

.input-gral{
	-fx-font-family: 'Montserrat Light';
}

.btn-gral{
	-fx-font-family: 'Montserrat Light';
	-fx-text-fill: white;
}
