 @font-face {
	font-family: "Montserrat Light";
    src: url('../font/Montserrat/Montserrat-Light.ttf');
}
@font-face {
	font-family: "Montserrat Bold";
    src: url('../font/Montserrat/Montserrat-Bold.ttf');/**/
}

@font-face {
	font-family: "Montserrat Medium";
}

.label-title {
    -fx-font-family: 'Montserrat Medium';/* */
  	

}
.tree-gral{
	 -fx-font-family: 'Montserrat Medium';
}

*{
	-fx-font-size:14px
}

.input-gral{
	-fx-font-family: 'Montserrat Light';
}

.btn-gral{
	-fx-font-family: 'Montserrat Light';
	-fx-text-fill: white;
}
/*
.table-column{
	-fx-background-color: #5F686C;
	-fx-text-fill: white;
}
*/