 @font-face {
	font-family: "Montserrat Light";
    src: url('../font/Montserrat/Montserrat-Light.ttf');
}
@font-face {
	font-family: "Montserrat Bold";
    src: url('../font/Montserrat/Montserrat-Bold.ttf');/**/
}

@font-face {
	font-family: "Montserrat Medium";
}

.label-title {
    -fx-font-family: 'Montserrat Medium';/* */
  	

}
.tree-gral{
	 -fx-font-family: 'Montserrat Medium';
	 
}

.tree-gral:selected{
	-fx-background-color: #5F686C;
	-fx-text-fill: white;
}

*{
	-fx-font-size:13px
}

.input-gral{
	-fx-font-family: 'Montserrat Light';
}

.btn-gral{
	-fx-font-family: 'Montserrat Light';
	-fx-text-fill: white;
}
.mainTree .tree-cell {
    -fx-background-color: #0a0a0a ;
    -fx-text-fill: #ffffff ;
}
.tree-table-row-cell:selected{
    -fx-background-color: green;
     -fx-table-cell-border-color: green;
    -fx-text-fill: #ffffff ;
}

/*
.table-column{
	-fx-background-color: #5F686C;
	-fx-text-fill: white;
}
*/