 @font-face {
	font-family: "Montserrat Light";
    src: url('../font/Montserrat/Montserrat-Light.ttf');
}
@font-face {
	font-family: "Montserrat Bold";
    src: url('../font/Montserrat/Montserrat-Bold.ttf');/**/
}

@font-face {
	font-family: "Montserrat Medium";
	src: url('../font/Montserrat/Montserrat-Medium.ttf');
}

.label-title {
    -fx-font-family: 'Montserrat Medium';/* */
  	

}

*{
	-fx-font-size:13px
}

.input-gral{
	-fx-font-family: 'Montserrat Light';
}

.btn-gral{
	-fx-font-family: 'Montserrat Light';
	-fx-text-fill: white;
}
/*
.table-column{
	-fx-background-color: #5F686C;
	-fx-text-fill: white;
}
*/

.red-text{
	-fx-background-color: #5F686C;
	-fx-text-fill: white;
}
.green-text{
	-fx-background-color: #5F686C;
	-fx-text-fill: white;
}
.blue-text{
	-fx-background-color: #5F686C;
	-fx-text-fill: white;
}

